<div style="background-color: var(--tf-changelog-bg-color)" class="bg-gradient py-3" id="career-changelog">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
        <h1 class="display-4 text-start">Career Changelog</h1>
      </div>
    </div>
   
    <div style="background-color: var(--tf-changelog-bg-color)" class="changelog bg-gradient py-3">
      <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg class="bi me-2" width="24" height="24" fill="currentColor" aria-label="Warning">
          <use xlink:href="{{ '/img/bootstrap-icons.svg' | prepend: site.baseurl }}#exclamation-triangle-fill"/>
        </svg>
        <div>
          This changelog is a fun little experiment I built to showcase my journey. For a complete overview of my experience and skills, my resume is available upon request.
        </div>
      </div>

      <p>All notable changes to this project (my career) will be documented in this section.</p>
      <p>The format is based on <a href="https://keepachangelog.com/en/1.1.0/" target="_blank">Keep a Changelog</a> and this project
        adheres to <a href="https://semver.org/spec/v2.0.0.html" target="_blank">Semantic Versioning</a>.</p>
      <h2 id="changelog-120">1.2.0 - Mid-level Backend Engineer @ GrowerAI (June 2025 to Sep 2025)</h2>
      <h3 id="added-120">Added</h3>
      <ul>
        <li>Skills to develop <a href="https://en.wikipedia.org/wiki/Software_as_a_service" target="_blank">SaaS solutions</a>.</li>
        <li>Use of <a href="https://en.wikipedia.org/wiki/Agile_software_development" target="_blank">Agile methodologies</a>.</li>
        <li>Use of <code>Python</code>, <code>Java</code>, <code>FastAPI</code>, <code>PostgreSQL</code>, <code>Docker</code>, <code>Kubernetes</code>, <code>GCP</code>, <code>CI/CD Pipelines</code>.</li>
        <li>Building of scalable <a href="https://en.wikipedia.org/wiki/Distributed_computing" target="_blank">distributed systems</a> using <a href="https://en.wikipedia.org/wiki/Microservices" target="_blank">microservices</a> and <a href="https://en.wikipedia.org/wiki/REST" target="_blank">RESTful</a> APIs.</li>
        <li>Integrating different AI models and agents for data analysis and image generation.</li>
        <li>Knowledge in SDLC, system design, testing, cloud platforms...</li>
        <li>Broad Knowledge in MarTech and the Marketing industry.</li>
      </ul>
      <h2 id="changelog-110">1.1.0 - Backend & Cloud Engineer @ WITS (Sep 2022 to Mar 2025)</h2>
      <h3 id="added-110">Added</h3>
      <ul>
        <li>Skills to develop <a href="https://en.wikipedia.org/wiki/Software_as_a_service" target="_blank">SaaS solutions</a>.</li>
        <li>Use of <a href="https://en.wikipedia.org/wiki/Agile_software_development" target="_blank">Agile methodologies</a>.</li>
        <li>Use of <code>Python</code>, <code>C++</code>, <code>FastAPI</code>, <code>MongoDB</code>, <code>Elasticsearch</code>, <code>Docker</code>, <code>Kubernetes</code>, <code>Celery</code>, <code>RabbitMQ</code>, <code>Redis</code>, <code>AWS</code>, <code>GCP</code>, <code>CI/CD Pipelines</code>, <code>Ansible</code>, <code>NGINX</code>, <code>Cloudflare</code>.</li>
        <li>Building of scalable <a href="https://en.wikipedia.org/wiki/Distributed_computing" target="_blank">distributed systems</a> using <a href="https://en.wikipedia.org/wiki/Microservices" target="_blank">microservices</a> and <a href="https://en.wikipedia.org/wiki/REST" target="_blank">RESTful</a> APIs.</li>
        <li>Knowledge in SDLC, system design, testing, cloud platforms...</li>
        <li>Deeper knowledge in the Cybersecurity industry: HFM, recon, vulnerabiity scanning, automation...</li>
      </ul>
      <h2 id="changelog-100">1.0.0 - Software Developer Intern @ WITS (Aug 2022 to Sep 2022)</h2>
      <h3 id="added-100">Added</h3>
      <ul>
        <li>Use of <code>Python</code>, <code>C++</code>, <code>FastAPI</code>, <code>PostgreSQL</code>, <code>Docker</code>, <code>Celery</code>, <code>RabbitMQ</code>, <code>Redis</code>.</li>
        <li>knowledge in the Cybersecurity industry.</li>
      </ul>
      <h2 id="changelog-010">0.1.0 - The Beginning (2022)</h2>
      <h3 id="added-010">Added</h3>
      <ul>
        <li>The beginning of my professional journey into software engineering with a passion for problem-solving and cybersecurity.</li>
      </ul>
    </div>
  </div>
</div>
